.main_container {
  background-color: rgb(19, 25, 33);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: max-content;
}

h3 {
  font-weight: bold;
  cursor: pointer;
}

.signup {
  background-color: rgb(19, 25, 33);
  height: 610px;
  margin-left: 290px;
  padding-top: 25px;
}
.txt1 {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 80px;
  color: rgb(238, 238, 54);
  margin-top: 105px;
  text-shadow:  12px 12px 15px rgba(122, 120, 8, 0.192);
}
.txt4 {
  font-weight: bold;
  font-size: 26px;
  margin-left: 160px;
  color: azure;
  font-family: 'Roboto';
  margin-bottom: 20px;
  margin-top: 35px;
}
.googlebtn {
  padding: 20px;
  height: 45px;
  width: 510px;
  color: rgb(3, 7, 3);
  background-color: rgba(34, 31, 240, 0.459);
  border: none;
  margin-left: 70px;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
}
.txt2 {
  font-weight: bold;
  font-size: 28px;
  margin-left: 170px;
  color: azure;
  font-family: sans-serif;
  margin-bottom: 30px;
  margin-top: 70px;
}
.data {
  color: rgb(241, 230, 230);
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-left: 22px;
  font-family: 'Lucida Sans';
  font-weight: bold;
}
.email_input {
  width: 560px;
  height: 40px;
  background-color: azure;
  border: none;
  margin-bottom: 20px;

}
.password_input {
  width: 560px;
  height: 40px;
  background-color: azure;
  border: none;
  margin-bottom: 40px;
}
.check {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  font-family: 'Lucida Sans';
  font-weight: bold;
  color: rgb(241, 230, 230);
  margin-left: 22px;
  margin-bottom: 40px;
}
.d_box {
  width: 30px;
  height: 30px;
  margin-top: 23px;
}
.butn {
  padding: 20px;
  height: 45px;
  width: 510px;
  color: rgb(3, 3, 3);
  background-color: rgb(238, 238, 54);
  border: none;
  margin-left: 55px;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  box-shadow:  12px 12px 12px rgba(122, 120, 8, 0.1);
  transition: all 0.3s ease;
}

.butn:hover {
  opacity: 0.8;
  transform: scale(1.1);

}
.login {
   background-color: rgb(19, 25, 33);
   width: 660px;
   height: 90px;
   padding-top: 25px;
   display: flex;
   flex-direction: row;
   column-gap: 385px;
   margin-left: 270px;
   margin-top: 90px;
   margin-bottom: 40px;
}

.login_link {
  color: rgb(14, 14, 248);
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}
.acc {
  color: rgba(255, 255, 255, 0.603);
  margin-left: 22px;
}
